<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skin Inventory</title>
    <link rel="stylesheet" href="/indexStyles.css" />
    <link rel="stylesheet" href="/root.css" />
  </head>
  <body>
    <a href="/new"><button id="add-skin-button">add skin</button></a>
    <main>
      <ul>
        <% if (skins) { %> <% skins.forEach(skin=>{%>
        <li class="skin">
          <div class="skin-image">
            <img src="<%= skin.photo_url %>" alt="<%- skin.name %>" />
          </div>
          <div class="skin-caption">
            <div class="skin-info">
              <h2 class="skin-title"><%- skin.weapon %> | <%- skin.name%></h2>
              <p class="skin-quality"><%- skin.quality %></p>
              <p class="skin-collection"><%- skin.collection%></p>
            </div>
            <i class="fa-solid fa-ellipsis-vertical moreButton"></i>
            <ul class="skin-dropdown">
              <li><a href="<%="/edit/"+skin.id %>">Edit</a></li>
              <li><a href="<%="/delete/"+skin.id %>">Delete</a></li>
            </ul>
          </div>
        </li>
        <%})}%>
      </ul>
    </main>
    <script
      src="https://kit.fontawesome.com/2e000cecf5.js"
      crossorigin="anonymous"></script>
  </body>
</html>
